// px转em
@function pxToEm($px, $base:16) {
  @return ($px / $base) * 1em;
}
// 调用
/*
p {
  font-size: pxToEm(20);
} */
@function calc-width($col-span) {
  @return 100% / $col-span;
}

/* .span-two {
  width: calc-width(2);
}
.span-three {
  width: calc-width(3);
} */
