$font-primary: 'Roboto', sans-serif;
$font-secondary: Arail, Helvetica, sans-serif;

$blue:#324157 !default;
$light-blue:#3A71A8;
$light-blue2: #82d2e5;

$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$gray: #f3f3f3;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

// main
$radius-button: 5px;
$radius-tab: 5px;
